---
- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
        - "{{ ansible_distribution }}.yml"
        - "main.yml"
      paths:
        - "{{ role_path }}/vars"
  when: ansible_os_family == "Debian"

- name: Loading a task to install dependencies (Debian)
  ansible.builtin.include_tasks: setup-dependencies.yml
  when: ansible_os_family == "Debian"

- name: Loading a task to install DDEV (Debian)
  ansible.builtin.include_tasks: setup-ddev.yml
  when: ansible_os_family == "Debian"
